<ng-container *ngIf="user">
  <app-create-post
    (submitted)="submitted($event)"
    [userId]="user.id"
  ></app-create-post>
  <div *ngIf="filteredPosts && posts.length > 0; else noPosts">
    <div class="fixed top-0 left-0 mt-12 w-full py-2 px-4">
      <div
        class="shadow-sm flex items-center gap-1 mx-auto max-w-2xl w-full border app-border rounded bg-neutral-50 dark:bg-neutral-900"
      >
        <span class="material-symbols-outlined text-neutral-400 p-2">
          search
        </span>
        <input
          class="bg-transparent w-full p-1"
          type="text"
          name="search"
          id="search"
          placeholder="Filtra i post in base al loro titolo"
          (keyup)="filterPosts(query.value)"
          #query
        />
      </div>
    </div>
    <h2
      class="font-semibold text-xl my-5 mx-auto max-w-screen-sm flex items-center"
    >
      <span class="p-2 material-symbols-outlined text-emerald-500"> tag </span
      >Ecco gli ultimi post pubblicati
    </h2>
    <div *ngFor="let post of filteredPosts">
      <app-post [post]="post" [currentUserId]="user.id"></app-post>
    </div>
  </div>
  <ng-template #noPosts>
    <h2
      class="font-semibold text-xl my-5 mx-auto max-w-screen-sm flex items-center"
    >
      <span class="p-2 material-symbols-outlined text-emerald-500"> tag </span
      >C'è molto silenzio qui..
    </h2>
  </ng-template>
</ng-container>
