<div
  class="border-t-4 border-emerald-500 bg-white dark:bg-neutral-900 m-auto max-w-md rounded shadow-md mt-4 py-3"
>
  <span
    class="material-symbols-outlined text-emerald-500 text-5xl text-center block p-2"
  >
    eco
  </span>
  <div
    *ngIf="validation['error'] === true"
    class="bg-red-400 my-2 mx-auto p-2 max-w-[18.5rem] text-center text-white rounded"
  >
    {{ validation["message"] }}
  </div>
  <form
    (ngSubmit)="submit()"
    [formGroup]="form"
    class="flex flex-col gap-2 m-2 p-5"
  >
    <div>
      <label for="name" class="flex items-center gap-1">
        Name
        <span class="text-emerald-500">*</span>
        <div
          *ngIf="f['name'].invalid && f['name'].value !== ''"
          class="text-red-400"
        >
          Name is too short!
        </div>
      </label>
      <div
        class="flex gap-1 items-center rounded mb-3 border app-border bg-neutral-50 dark:bg-neutral-800"
      >
        <span class="p-2 material-symbols-outlined text-neutral-400">
          face
        </span>
        <input
          type="text"
          id="name"
          formControlName="name"
          name="name"
          placeholder="johndoe123"
          class="w-full bg-transparent p-2"
        />
      </div>
    </div>
    <div>
      <label for="email" class="flex items-center gap-1">
        Email
        <span class="text-emerald-500">*</span>
        <div
          *ngIf="f['email'].invalid && f['email'].value !== ''"
          class="text-red-400"
        >
          Email is invalid!
        </div>
      </label>
      <div
        class="flex gap-1 items-center rounded mb-3 border app-border bg-neutral-50 dark:bg-neutral-800"
      >
        <span class="p-2 material-symbols-outlined text-neutral-400">
          mail
        </span>
        <input
          type="email"
          id="email"
          name="email"
          formControlName="email"
          class="w-full bg-transparent p-2"
          placeholder="example@domain.com"
        />
      </div>
    </div>
    <div>
      <label for="password" class="flex items-center gap-1"
        >Password
        <span class="text-emerald-500">*</span>
        <div
          *ngIf="f['password'].invalid && f['password'].value !== ''"
          class="text-red-400"
        >
          Password is too short!
        </div>
      </label>
      <div
        class="flex gap-1 items-center rounded mb-3 border app-border bg-neutral-50 dark:bg-neutral-800"
      >
        <span class="p-2 material-symbols-outlined text-neutral-400">
          lock
        </span>
        <input
          type="password"
          id="password"
          name="password"
          formControlName="password"
          class="p-2 w-full bg-transparent"
          placeholder="Str0ngp4S$w0rd"
        />
      </div>
    </div>
    <div>
      <label for="password_confirmation" class="flex items-center gap-1">
        Confirm Password<span class="text-emerald-500">*</span>
        <div
          *ngIf="
            f['password_confirmation'].invalid &&
            f['password_confirmation'].value !== ''
          "
          class="text-red-400"
        >
          Password doesn't match
        </div>
      </label>
      <div
        class="flex gap-1 items-center rounded mb-3 border app-border bg-neutral-50 dark:bg-neutral-800"
      >
        <span class="p-2 material-symbols-outlined text-neutral-400">
          lock
        </span>
        <input
          type="password"
          id="password_confirmation"
          name="password_confirmation"
          formControlName="password_confirmation"
          class="p-2 w-full bg-transparent"
          placeholder="Str0ngp4S$w0rd"
        />
      </div>
    </div>
    <button
      type="submit"
      class="shadow uppercase tracking-wider rounded p-3 cursor-pointer bg-emerald-500 hover:bg-emerald-400"
    >
      Register
    </button>
  </form>
  <p class="mx-auto mb-3 text-xs text-center">
    Already a member?
    <a class="text-emerald-400 underline" routerLink="/login">Login</a>
    instead
  </p>
</div>
