<form
  (ngSubmit)="submit()"
  [formGroup]="form"
  class="p-3 border rounded max-w-screen-sm my-3 mx-auto"
>
  <div *ngIf="invalid">
    <span class="text-red-400">Invalid</span>
  </div>
  <div class="flex flex-col justify-center">
    <input type="hidden" id="author" name="author" formControlName="author" />
    <label for="title">Title</label>
    <textarea
      maxlength="300"
      placeholder="title"
      formControlName="title"
      rows="1"
      class="border rounded p-1 bg-transparent"
    ></textarea>
    <label for="content">Content</label>
    <textarea
      name="content"
      id="content-form"
      cols="10"
      rows="5"
      formControlName="content"
      placeholder="Enter your content"
      class="border rounded p-1 bg-transparent"
    ></textarea>
  </div>
  <button type="submit" class="border rounded p-2 my-2 flex items-center gap-1">
    Submit
    <span class="material-symbols-outlined"> send </span>
  </button>
</form>
