<div
  class="p-3 border border-neutral-900/10 dark:border-neutral-800 rounded max-w-screen-sm my-3 mx-auto"
>
  <div *ngIf="editMode">
    <form (ngSubmit)="submit()" [formGroup]="form">
      <div *ngIf="invalid">
        <span class="text-red-400">Invalid</span>
      </div>
      <div class="flex flex-col justify-center">
        <label for="title">Title</label>
        <textarea
          maxlength="300"
          placeholder="title"
          formControlName="title"
          rows="1"
          class="border rounded border-neutral-900/10 dark:border-neutral-800 bg-neutral-50 dark:bg-neutral-800 p-1"
        ></textarea>
        <label for="content">Content</label>
        <textarea
          name="content"
          id="content-form"
          cols="10"
          rows="5"
          formControlName="content"
          placeholder="Enter your content"
          class="border rounded border-neutral-900/10 dark:border-neutral-800 bg-neutral-50 dark:bg-neutral-800 p-1"
        ></textarea>
      </div>
      <div class="flex items-center gap-1 my-2">
        <button
          type="button"
          (click)="editMode = !editMode"
          title="Back"
          aria-label="Back"
          class="ml-auto bg-neutral-100 dark:bg-neutral-800 rounded p-2 flex items-center gap-1"
        >
          <span class="material-symbols-outlined"> undo </span>
        </button>
        <button
          type="submit"
          class="bg-emerald-500 hover:bg-emerald-400 rounded p-2 flex items-center gap-1"
        >
          Submit
          <span class="material-symbols-outlined"> send </span>
        </button>
      </div>
    </form>
  </div>
  <div *ngIf="!editMode" class="flex flex-col">
    <h3 class="text-xl my-2">{{ post.title }}</h3>
    <p class="my-2">{{ post.content }}</p>
    <div
      class="flex items-center justify-between border-t border-neutral-900/10 dark:border-neutral-800 pt-3 my-2"
    >
      <small
        ><span *ngIf="!isProfile()">{{ post.author_name }} - </span>
        <span>{{
          post.updated_at !== post.created_at
            ? "Modified: " + post.created_at
            : "Created: " + post.updated_at
        }}</span>
      </small>
      <div
        *ngIf="isThisPostFromThisUser() && !editMode && !isHomepage()"
        class="flex items-center gap-1"
      >
        <button
          (click)="editPost()"
          class="p-2 rounded bg-neutral-100 dark:bg-neutral-800 flex items-center gap-1"
          title="Edit"
          aria-label="Edit"
        >
          <span class="material-symbols-outlined"> edit </span>
        </button>
        <button
          (click)="deletePost()"
          class="p-2 rounded bg-neutral-100 dark:bg-neutral-800 flex items-center gap-1"
          title="Delete"
          aria-label="Delete"
        >
          <span class="material-symbols-outlined"> delete </span>
        </button>
      </div>
    </div>
  </div>
</div>
