<div
  class="border app-border bg-white dark:bg-neutral-900 rounded max-w-screen-sm my-3 mx-auto"
>
  <div *ngIf="editMode">
    <form (ngSubmit)="submit()" [formGroup]="form" class="p-3">
      <div *ngIf="invalid">
        <span class="text-red-400">Invalid</span>
      </div>
      <div class="flex flex-col justify-center gap-3">
        <label class="font-semibold text-lg" for="title"
          >Modifica il tuo post</label
        >
        <textarea
          maxlength="300"
          formControlName="title"
          rows="1"
          class="border rounded app-border bg-neutral-50 dark:bg-neutral-800 p-1"
        ></textarea>
        <textarea
          name="content"
          id="content-form"
          cols="10"
          rows="5"
          formControlName="content"
          class="border rounded app-border bg-neutral-50 dark:bg-neutral-800 p-1"
        ></textarea>
      </div>
      <div class="flex items-center gap-1 my-2">
        <button
          type="button"
          (click)="editMode = !editMode"
          title="Back"
          aria-label="Back"
          class="ml-auto bg-neutral-100 dark:bg-neutral-800 hover:bg-neutral-200 dark:hover:bg-neutral-700 hover:text-emerald-500 rounded p-2 flex items-center gap-1"
        >
          <span class="material-symbols-outlined"> undo </span>
        </button>
        <button
          type="submit"
          class="bg-emerald-500 hover:bg-emerald-400 rounded p-2 flex items-center gap-1"
        >
          Submit
          <span class="material-symbols-outlined"> send </span>
        </button>
      </div>
    </form>
  </div>
  <div *ngIf="!editMode" class="flex flex-col">
    <div *ngIf="!isProfile()" class="px-3 py-2 font-bold">
      <small
        class="flex items-center gap-3 text-neutral-700 dark:text-neutral-300"
        ><span class="material-symbols-outlined w-4"> account_circle </span
        >{{ post.author_name }}</small
      >
    </div>
    <div class="p-3">
      <h3 class="text-xl mb-5">{{ post.title }}</h3>
      <p class="my-2 text-neutral-600 dark:text-neutral-300">
        {{ post.content }}
      </p>
    </div>
    <div class="p-3 flex items-center justify-between border-t app-border">
      <small class="text-neutral-500">
        {{
          post.updated_at !== post.created_at
            ? "Modified: " + post.created_at
            : "Created: " + post.updated_at
        }}
      </small>
      <div
        *ngIf="isThisPostFromThisUser() && !editMode && !isHomepage()"
        class="flex items-center gap-1"
      >
        <button
          (click)="editPost()"
          class="p-2 rounded bg-neutral-100 dark:bg-neutral-800 hover:bg-neutral-200 dark:hover:bg-neutral-700 hover:text-emerald-500 flex items-center gap-1"
          title="Edit"
          aria-label="Edit"
        >
          <span class="material-symbols-outlined"> edit </span>
        </button>
        <button
          (click)="deletePost()"
          class="p-2 rounded bg-neutral-100 dark:bg-neutral-800 hover:bg-neutral-200 dark:hover:bg-neutral-700 hover:text-red-400 flex items-center gap-1"
          title="Delete"
          aria-label="Delete"
        >
          <span class="material-symbols-outlined"> delete </span>
        </button>
      </div>
    </div>
  </div>
</div>
